@model IEnumerable<Rapporti.Models.Rapporto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gruppo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Autore.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gruppo.Nome)
                </td>
                <td>
                    @if (item.Destinatario == null)
                    {
                        <span>Tutti</span>
                    }
                    else
                    {
                        <span>@item.Destinatario.Nome</span>
                    }
                </td>
                <td>
                    <textarea name="Testo" class="form-control" readonly>@item.Testo</textarea>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
                        }
    </tbody>
</table>
